In [ ]:
import pandas as pd
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
sum_counts = sum(counts)
def create_medications(names, counts):
    medications = pd.Series(
        data = counts,
        index = names,
        name = 'medications'
    )
    return medications
medications = create_medications(names, counts)

def get_percent(medications, name):
    return (medications.loc[name] * 100) / sum_counts 

def create_medications(names, counts):
    medications = pd.Series(index=names, data=counts)
    return medications
def get_percent(medications, name):
    return(medications.loc[name]/sum(medications) * 100)

print(get_percent(medications, "chlorhexidine")) #37.5

In [ ]:
import pandas as pd
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
        },
        index = years
    )
    return df

def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit=None
    return profit
print(create_companyDF(income, expenses, years))
print(get_profit(df, year))

In [ ]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
display(data)
print(data.shape)

In [12]:
student_data = pd.read_csv('students_performance.csv', sep=',')
display(student_data)
student_data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [14]:
student_data.shape

(1000, 8)

In [20]:
student_data.loc[155, 'writing score']

88

In [21]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [23]:
student_data.describe(include=['object']).shape

(4, 5)

In [25]:
round(student_data['math score'].mean())

66

In [26]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [31]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [33]:
student_data[student_data['math score'] == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [37]:
round(student_data[student_data['lunch'] == 'standard']['math score'].mean())
round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

59

In [43]:
round(student_data['parental level of education'].value_counts(normalize=True), 2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64

In [47]:
value_mean = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
value_median = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
print(round(abs(value_median - value_mean)))

6